.product{
}
.product__card{
    /* border: 1px solid red !important; */
    height: 400px;
    box-sizing: border-box !important;
    transition: transform 0.5s ease-in-out;
}
.product__card:hover{
    transform: scale(1.05);

}
.card-img-top{
    object-fit: cover;
    height: 75%;
    width: 100%;
    border: 1px solid black;
}