.product__detail{
}

.product__detail img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.related__products{
    /* background-color: black; */
}
.product__info{
    
    height: 80vh;
}